.main-nav {
  &__checkbox {
    display: none;
    &:checked{
      &+.main-nav__btn {
        .main-nav__icon--toggle {
          &:after {
            content: $icon-arrow-left;
          }
        }

        &+.main-nav__list {
          height: calc( 100vh - 56px);
        }
      }
    }
  }

  &__btn {
    width: 60px;
    height: 55px;
    background-color: $cGreyDk;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-nav__icon--toggle {
      font-size: 24px;
      &:after {
        content: $icon-menu-toggle;
      }
    }
  }

  &__icon {
    font-family: $fontIcon;
    font-size: 23px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: $cGreyDk;
    position: absolute;
    left: 0;
    top: 55px;
    height: 0;
    overflow: hidden;
    transition: 0.3s all ease;
    &:hover {
      .main-nav__text {
        width: 185px;
        flex-grow: 1;
      }
    }
  }

  &__item {
    transition: 0.2s all ease;
    &:hover {
      background-color: $cGreyLt;
    }
    .main-nav__icon {
      width: 60px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before {
        position: relative;
        top: -2px;
      }
    }

  }

  &__link {
    text-decoration: none;
    color: $cText;
    display: flex;
    align-items: center;

    &:hover,
    &:active {
      text-decoration: none;
      color: $cText;
    }


  }

  &__text {
    text-transform: uppercase;
    line-height: 56px;
    display: block;
    flex-grow: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: 0.2s all ease;
  }
}